/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require jquery-ui.theme.min
 *= require jquery-ui.structure.min
 *= require_self
 */
 @import "font-awesome-sprockets";
 @import "font-awesome";
 @import url(http://fonts.googleapis.com/css?family=Kranky);



// ============================================
// ==== GLOBAL CSS AND COLOR SCHEME ===========
// ============================================

*, *:after, *:before {
  padding: 0;
  box-sizing: border-box;
}

body {
	background-color: #DFEBD7;
	color: #5C4463;
	line-height: 1.5;
}

h1 {
	// color: #47B1C5;
	color: #5C4463;
	margin-bottom: 25px;
	margin-top: 0;
}

h3 {
	font-size: 1.25em;
}

.error-messages {
	margin: 10px;
}

.float-left {
	float: left;
	margin-left: 20px;
}

/*  COLOR PALETTE

--- colors in use for option #2 ---
--- we should probably stick with no more than 6 colors throughout the site ---

super teal - currently the navbar background color
HEX: 75DCB1
RGB: 117, 220, 177

bright solid blue - currently the H1 text
HEX: 47B1C5
RGB: 71, 177, 197

soft green gray - currently the main content area background color
HEX: DFEBD7
RGB: 223, 235, 215

off white / very light gray - to replace anything we want to be white
HEX: F9F9F9
RGB: 249, 249, 249

deep purple - currently the body text color, outlines/borders, logo text color, items/groups/li hover color
HEX: 5C4463
RGB: 92, 68, 99

blue gray - currently the center content background
HEX: 647A9E
RGB: 100, 122, 158

lightish gray
HEX: e8e6e6

----colors not currently in use ----

teal - another potential navbar background option (not currently in use)
HEX: 82E5C6
RGB: 130, 229, 198

lime green - not currently in use
HEX: D1EFAB 
RGB: 209, 239, 171

*/
