// Place all the styles related to the Groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// ===========================
// ==== GROUP INDEX PAGE =====
// ===========================





// ===========================
// ==== GROUPS LIST AREA =====
// ===========================

.groups-list {
	background-color: #647A9E;
	width: 100vw;
	height: 60vh;
	// overflow-y: scroll;
	// overflow-x: scroll;
}

.list-text {
	margin-left: 30px;
	padding-top: 20px;
	color: #F9F9F9;
}

.group-icon {
	margin-right: 10px;
}

// ===========================
// ==== GROUP LINK/BOX =======
// ===========================


.group-box {
	height: 100px;
	width: 170px;
	background-color: #F9F9F9;
	color: black;
	border: solid #5C4463 1px;
	border-radius: 15px;
	display: inline-block;
	float: left;
	list-style: none;
	padding: 10px;
	margin-left: 15px;
	margin-top: 20px;
}

.group-box:hover {
	background: #5C4463;
  color: #fff;	
}

.group-box-name {

}