// =========================================================================================================
// ==== THE DRAGGABLE DROPABLE SUPER DYNAMIC AND INTERACTIVE LIST BOX THAT IS BASICALLY 99% OF OUR APP =====
// =========================================================================================================




.list-item-box {
	background-color: white;
	width: 220px;
	float: left;
	display: inline-block;
	margin-left: 20px;
	margin-top: 20px;
}



.list-header {
	background-color: #75DCB1;
	width: 220px;
	height: 30px;
	margin-bottom: -10px;
}


.list-name-text {
	display: inline;
	padding-left: 3px;
}

.add-item-icon {
	float: right;
	margin-right: 5px;
	margin-top: 4px;

}

.add-item-icon:hover {
	color: white;
	cursor: pointer;
}

.list-body {
	width: 220px;
	
}

.list-ul{

}

.list-li {
	border: black solid 1px;
	width: 220px;
	list-style-type: none;
	float: left;


}

.list-item-header {
	background-color: #DFEBD7;
	height: 30px;
}

.collapse-icon {
	display: inline;
	padding-left: 3px;
	margin-top: 10px;
}

.collapse-icon:hover {
	color: white;
	cursor: pointer;
}


.list-item-name {
	display: inline;
	margin-left: 5px;
}

.easy-upload-button {
	display: inline;
	float: right;
	margin-right: 7px;
	margin-top: 10px;
}

.easy-upload-button:hover {
	color: white;
	cursor: pointer;
}

.google-calendar-button {
	display: inline;
	float: right;
	margin-right: 7px;
	margin-top: 10px;
}

.google-calendar-button:hover {
	color: white;
	cursor: pointer;
}

.schedule-email-button {
	display: inline;
	float: right;
	margin-right: 7px;
	margin-top: 10px;
}

.schedule-email-button:hover {
	color: white;
	cursor: pointer;
}

.schedule-text-button {
	display: inline;
	float: right;
	margin-right: 7px;
	margin-top: 10px;
}

.schedule-text-button:hover {
	color: white;
	cursor: pointer;
}

.list-item-body {
	background-color: white;
	height: auto;
}

.image-div {

}

.item-img {

}

.list-item-footer {
	margin-top: 20px;
	background-color: #DFEBD7;
}

.item-completed-button {
	display: inline;
	margin-left: 180px;
}

.item-completed-button:hover {
	color: white;
	cursor: pointer;
}


.delete-item-button {
	display: inline;
	margin-left: 3px;
}

.delete-item-button:hover {
	color: white;
	cursor: pointer;
}

.tilt.right {
    transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -webkit-transform: rotate(3deg);
}
.tilt.left {
    transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -webkit-transform: rotate(-3deg);
}