

<div class="groups-list">
	<h4 class="list-text">My Groups</h4>
	<ul>
		<% @groups.each do |group| %>
			<div class="group-box">
				<h5 class="group-box-name"><%= group.name %></h5>
			</div>		
		<% end %>
	</ul>
</div>