// Place all the styles related to the Groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// ===========================
// ==== GROUP INDEX PAGE =====
// ===========================



// ==================================
// ==== GROUPS SLIDING MENU AREA ====
// ==================================

.groups-list-toggle-outer {
	background-color: #DFEBD7;
	width: 100vw;
	height: 150px;
	overflow-y: hidden;
	overflow-x: scroll;
	z-index: 5;
	position: relative;
	padding-left: 14px;
}

.groups-list-toggle-inner {
	width: 120%;
	height: 150px;
	overflow-y: hidden;
	overflow-x: scroll;
}

.group-icon {
	margin-right: 10px;
}


// =============================
// ==== GROUP BOXES/BUTTONS ====
// =============================

.group-box {
	height: 100px;
	width: 170px;
	background-color: #F9F9F9;
	color: #5C4463;
	border: solid #5C4463 1px;
	border-radius: 15px;
	display: inline-block;
	float: left;
	list-style: none;
	padding: 10px;
	margin-left: 15px;
	margin-top: 20px;
}

.group-box:hover {
	background: #5C4463;
	color: #fff;	
}

.group-box-name {

}


// ===========================
// ==== GROUP LOWER HALF =====
// ===========================


.lower-half-page {
	background-color: #647A9E;
	height: 100vh;
	width: 100vw;
	margin-top: -14px;
	// clear: both;
	z-index: 10;
	position: relative;
}
