// Place all the styles related to the Lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// ===========================
// ==== LISTS INDEX PAGE =====
// ===========================



// =================================================
// ==== GROUP MEMBERS AVATAR CIRCLE & FIRST NAME ===
// =================================================

.group-members-slider-outer {
	height: 100px;
	width: 100vw;
	margin-left: 26px;
	overflow-y: hidden;
	overflow-x: scroll;
	text-align: center; 
	background-color: #DFEBD7;
	// background-color: red;
}

.group-members-slider-inner {
	height: 100px;
	width: 120%;
	overflow-y: hidden;
	overflow-x: scroll;
}

.members-mini-profile {
	float: left;
	text-align: center; 
	margin-top: 3px;
}

.group-members-photo-div {
	margin-right: 20px;
	padding-right: 50px;
	border-radius: 180px;
	background-position: center;
	overflow: hidden;
	background-repeat: no-repeat;
	background-size: cover;
	width: 50px;
	height: 50px;
	border: black 1px solid;
	box-shadow: 3px 3px 5px rgba(0,0,0,.5);
}

.user-first-name {
	margin-right: 20px;
	margin-top: 5px;
	text-align: center;
}

.members-label {
	margin-left: 10px;
	width: 300px;
	display: inline-block;
}

//============================================
//==== DISPLAY LISTS AND LIST TOGGLE BTNS  ===
//============================================

.lists-list-toggles-outer {
	height: 115px;
	width: 100vw;
	padding-left: 14px;
	// border-bottom: 1px #5C4463 solid;
	overflow-y: hidden;
	overflow-x: scroll;
	background-color: #DFEBD7;
	clear: both;
	margin-top: -20px;
	z-index: 5;
	position: relative;

}

.lists-list-toggles-inner {
	height: 115px;
	width: 120%;
	overflow-y: hidden;
	overflow-x: scroll;
	// z-index: 5;
}

.list-toggle-box {
	height: 70px;
	width: 100px;
	background-color: #F9F9F9;  /* off-white */
	color: #5C4463;
	border: solid #5C4463 1px;
	border-radius: 15px;
	// box-shadow: 3px 3px 5px rgba(0,0,0,.5);
	display: inline;
	float: left;
	list-style: none;
	padding: 10px;
	margin-left: 15px;
	margin-top: 15px;
	text-align: center;
	cursor: pointer;
	// overflow-x: hidden;
}

.list-toggle-box:hover {
	background: #5C4463;
	color: #fff;	
}

.list-name {
	display: inline;
}

//=========================
//==== LIST RENDER AREA ===
//=========================


.lists-label {
	text-align: center;
	margin-bottom: -10px;
}

.list-display {
	background-color: #647A9E;
	width: 100vw;
	height: 100vh;
	margin-top: -14px;
	// padding: 20px;
	display: contain;
	overflow: auto;
	z-index: 10;
	position: relative;
}


// =============================================
// ==== HIDDEN ELEMENTS FOR DOM MANIPULATION ===
// =============================================

.screen-blanket {
	width: 100vw;
	height: 100vh;
	position: absolute;
	background-color: rgba(0,0,0,0.6);
	display: none;
}

.render-forms-here {
	position: absolute;
	width: 400px;
	height: 420px;
	background-color: #DFEBD7;
	border-radius: 25px;
	z-index: 2;
	left: 50%;
	margin-left: -200px;
	display: none;
	border: #5C4463 solid 3px; 
	padding: 10px;
}

.close-me-button {
	float: right;
	margin-left: -200px;
	display: none;
	padding: 10px;
}

.close-me-button:hover {
	cursor: pointer;
	color: #F9F9F9;
}

///// NEW ITEM /////

// .new-item-form-box {
// 	text-align: center;
// }

.new-item-form-box #description{
	width: 350px;
	margin-left: 15px;
}

.new-item-form-box #name{
	width: 350px;
	margin-left: 15px;
}

.item-name-label {
	margin-left: 15px;
}

.item-description-label{
	margin-left: 15px;
	margin-top: 5px;
}

.item-description-label .uploadcare-widget{
	margin-top: 20px
}

.image-upload-div {
	margin-top: 15px;
	margin-left: 15px;
}

.image-label {
	margin-top: 10px;
}

.add-item-submit-button {
	margin-top: 15px;
	margin-left: 15px;
	padding: 8px;
}

///// NEW NOTIFICATION /////

.new-reminder-form-box {
	text-align: center;
}

.new-notification-form {
	margin-top: 20px;
}

.notification-label {
	margin-right: 90px;
}

.add-item-form {
	margin-right: 45px;
}

//==========================
//==== ADD LISTS TO PAGE ===
//==========================

.new-list-button {
	margin-left: 45%;
	margin-right: auto;
	margin-bottom: 20px;
	margin-top: -40px;
}

.hidden-list-box {
	width: 400px;
	height: 200px;
	position: fixed;
	left: 75%;
	margin-left: -200px; 
	background-color: rgba(100,122,158,0.9);
	border: #5C4463 solid 1px;
	text-align: center;
	margin-right: 35px;
	color: white;
	border-radius: 25px;
	z-index: 1;
	display: none;
	margin-top: -100px;
}

.new-list-label {
	margin-right: 99px;
}

.new-list-form {
	background-color: transparent;
}

.create-list-btn {
	margin-top: 20px;
}

//=====================
//==== REMOVE LISTS ===
//=====================

.remove-list {
	text-align: left;
	z-index: 2;
}

.remove-list-div {
	margin-right: 70px;
	margin-top: -10px;
}

.hidden-remove-box {
	width: 300px;
	height: 150px;
	position: fixed;
	background-color: rgba(100,122,158,1);
	text-align: center;
	left: 50%;
	margin-left: -150px;
	color: #F9F9F9;
	border-radius: 25px;
	display: none;
	margin-top: -20px; 
}

.delete-button {
	display: inline-block;
}

.cancel-button {
	display: inline-block;
}
