
<div class="login-box">
	<h1>Forgot password?</h1>
	<p>Enter your email address and we'll send you an email with instructions for resetting your password.</p>
	
	<div class= "sign-up-errors"></div>

	<div class="sign-up-form-box">
		<%= form_tag resets_path do%>
			<div class="signup-label"><%= label_tag :email, "Email"%></div>
			<p><%= text_field_tag :email%></p>
			<p><%= submit_tag "Send Email", class: "btn btn-primary"%></p>
		<% end %>
	</div>
</div>